a {
	color: #005985;
}

.btn-outline-primary {
	color: #005985;
	border-color: #005985;	
}

code {
	background-color: #ffeded;
}

img {
	max-width: 100%;
}

.doc-items {
	margin-top: 30px;
	margin-bottom: 30px;
}

header {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

header .links {
	display:flex;
	justify-content:flex-end;
	align-items:center;

}

header .links a {
	margin-left: 50px;
	color: #005985;
}

header .links a:hover {
	color: #333;
}

@media screen and (max-width: 767px) {
	header .links {
		direction: column;
		justify-content: center;
	}

	header .links a {
		display:block;
		margin: 0;
		direction: column;
		margin: 30px 13px 0 13px;
		
	}

	header img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}


/* Sticky footer */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
	background-color: #f5f5f5;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-top: 1px solid #e7e7e7;
}
