<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>
  <body>

    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="https://teskalabs.com/">
                <img src="{{ site.url }}/assets/images/brand.png">
            </a>
          </div>
          <div class="col-md-8">
            <div class="links">
              <a href="https://docs.teskalabs.com/">Docs</a>
              <a href="https://teskalabs.com/blog/">Blog</a>
              <a href="https://teskalabs.com/contact">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-2 pt-5 pb-5">
            <a class="nav-link" href="/">Home</a>
            {% for item in site.data.sidebar.toc %}
              <h6 style="padding: .5rem 1rem 0 1rem;">{{ item.title }}</h6>
                <ul class="nav flex-column">
                  {% for entry in item.subfolderitems %}
                    <li class="nav-item"><a class="nav-link" href="{{ site.url }}{{ entry.url }}">{{ entry.page }}</a></li>
                  {% endfor %}
                </ul>
            {% endfor %}
          </div>

          <div class="col-md-8 pt-5 pb-5">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="text-muted">© 2014-2019 TeskaLabs Ltd.</span>
            <span class="text-muted"> | <a href="{{ site.url }}/legal/privacy-policy">Privacy Policy</a></span>
            <span class="text-muted"> | <a href="{{ site.url }}/legal/terms-and-conditions">Terms and Conditions</a></span>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
